<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.volcengine.update"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.volcengine.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Update"
        android:networkSecurityConfig="@xml/network_security_config">

        <meta-data
            android:name="UPDATE_VERSION_CODE"
            android:value="1820"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.mars.android.update"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false" >
            <meta-data
                android:resource="@xml/filepaths"
                android:name="android.support.FILE_PROVIDER_PATHS"/>
        </provider>
    </application>

</manifest>